<div class="row pokemon-team-icon-block" *ngFor="let userPokemon of this.userPokemonTeam; index as i">
    <div class="col-4">
        <img class="user-pokemon-image" src="{{userPokemon.url}}" width="100%">
    </div>
    <div class="col-8">
        <h4>{{userPokemon.name}}</h4>
        <p>Level {{userPokemon.level}} &nbsp;|&nbsp; XP to next lvl</p>
        <div class="progress mb-1">
            <div class="progress-bar bg-success" role="progressbar" [style.width]="userPokemon.current_hp + '%'" aria-valuemin="0" aria-valuenow="{{userPokemon.current_hp}}" aria-valuemax="userPokemon.max_hp">
                HP: {{userPokemon.current_hp}}/{{userPokemon.max_hp}}
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" [style.width]="userPokemon.current_hp + '%'" aria-valuemin="0" aria-valuenow="{{userPokemon.current_hp}}" aria-valuemax="userPokemon.max_hp">
                Experience: {{userPokemon.current_xp}}/{{userPokemon.xp_to_level_up}}
            </div>
        </div>
    </div>
</div>