nav {
    padding-top: 40px;
    height: 100px;
    font-weight: 300;
}

.navbar-brand {
    font-size: 24pt;
}

.nav-item {
    margin-left: 30px;
}

.search-bar-style {
    opacity: 60%;
    background-color: #315285;
    color: #ffffff;
}

.search-bar-style::placeholder {
    color: #4771b3;
}

.search-bar-style:focus {
    opacity: 85%;
}

[contenteditable="true"]:focus {
    outline: none !important;
}