<div class="row">
    <div class="col-12 pokemon-details-block">
        <div class="row">
            <div class="col-4">
                <h1>{{this.pds.getCurrentPokemon().name}}</h1>
            </div>
            <div class="col-8">
                <h5 class="py-1 description-block-title">
                    Type:
                    <app-pokemon-type-icon [pokemonType]='this.pds.getCurrentPokemon().type1'></app-pokemon-type-icon>
                    <app-pokemon-type-icon [pokemonType]='this.pds.getCurrentPokemon().type2'></app-pokemon-type-icon>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="selected-pokemon-img" src="{{this.pds.getCurrentPokemon().url}}">
            </div>
            <div class="col-8">
                <h5 class="py-1">Ability: </h5>
                <div class="progress mb-1">
                    <div class="progress-bar bg-success" role="progressbar" [style.width]="this.pds.getCurrentPokemon().current_hp + '%'" aria-valuemin="0" [attr.aria-valuenow]="this.pds.getCurrentPokemon().current_hp" aria-valuemax="this.pds.getCurrentPokemon().max_hp">
                        HP: {{this.pds.getCurrentPokemon().current_hp}}/{{this.pds.getCurrentPokemon().max_hp}}
                    </div>
                </div>
                <div class="progress mb-1">
                    <div class="progress-bar bg-primary" role="progressbar" [style.width]="this.pds.getCurrentPokemon().current_hp + '%'" aria-valuemin="0" [attr.aria-valuenow]="this.pds.getCurrentPokemon().current_hp" aria-valuemax="this.pds.getCurrentPokemon().max_hp">
                        Experience: {{this.pds.getCurrentPokemon().current_xp}}/{{this.pds.getCurrentPokemon().xp_to_next_lvl}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <app-pokemon-details-weaknesses></app-pokemon-details-weaknesses>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark ev-iv-table">
                            <thead>
                                <tr>
                                    <th scope="col">Stat</th>
                                    <th scope="col">Base</th>
                                    <th scope="col">IV</th>
                                    <th scope="col">EV</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let evIvStat of this.pds.getCurrentPokemon().getStatsList()">
                                    <td>{{evIvStat.statName}}</td>
                                    <td>{{evIvStat.base}}</td>
                                    <td>{{evIvStat.iv}}</td>
                                    <td>{{evIvStat.ev}}</td>
                                    <td>{{evIvStat.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <app-moves [userPokemon]="this.pds.getCurrentPokemon()"></app-moves>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>