.pokemon-details-block {
    background-color: #202b43;
    border-radius: 1em;
}

.description-block-title-full {
    background: linear-gradient(to top, rgb(39, 54, 82) 0%, rgb(32, 43, 67) 100%);
    border-radius: 1em 1em 0 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px 5px 15px;
    box-shadow: white;
    border-bottom: 0.5px solid darkgray;
}

.description-block-title {
    margin-bottom: 0;
    vertical-align: middle;
}

.selected-pokemon-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.current-stat-title {
    margin-bottom: 0px;
}

.ev-iv-table {
    background-color: transparent;
    border-top: 0;
}

table {
    font-size: 10pt;
    line-height: 0.5;
}